/* profile/static/profile/styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    
}

h1 {
    text-align: center;
    color: #343a40;
}

p {
    font-size: 1.1em;
    line-height: 1.6em;
    color: #666;
}

p.lead {
    color: #6c757d;
}


